{% set intvars = interfaces[inventory_hostname] -%}
frr defaults datacenter
username cumulus nopassword
!
service integrated-vtysh-config
!
log syslog informational
!
{% for neighbor in intvars.neighbors %}
interface {{ neighbor }}
 ipv6 nd ra-interval 10
 no ipv6 nd suppress-ra
!
{% endfor %}
router bgp {{ intvars.asn }}
    bgp router-id {{ intvars.loopback }}
    bgp bestpath as-path multipath-relax
    network {{ intvars.loopback }}/32
{% for neighbor in intvars.neighbors %}
    neighbor {{ neighbor }} interface remote-as external
    neighbor {{ neighbor }} interface v6only
{% endfor %}
!
