{% set intvars = interfaces[ansible_hostname] -%}
!
{% for neighbor in intvars.neighbors %}
interface {{ neighbor }}
 no ipv6 nd suppress-ra
 ipv6 nd ra-interval 3
!
{% endfor %}
router bgp {{ intvars.asn }}
    bgp router-id {{ intvars.loopback }}
    bgp bestpath as-path multipath-relax no-as-set
    redistribute connected route-map loop_adv
    neighbor fabric peer-group
    neighbor fabric remote-as external
    neighbor fabric description Internal Fabric Network
    neighbor fabric advertisement-interval 0
    neighbor fabric timers 1 3
    neighbor fabric timers connect 3
    neighbor fabric capability extended-nexthop
    neighbor fabric prefix-list dc-fabric-in in
    neighbor fabric filter-list no-transit out
{% for neighbor in intvars.neighbors %}
    neighbor {{ neighbor }} interface
    neighbor {{ neighbor }} remote-as external
    neighbor {{ neighbor }} peer-group fabric
{% endfor %}
    maximum-paths 64
!
address-family ipv6 unicast
  neighbor fabric activate
{% for neighbor in intvars.neighbors %}
  neighbor {{ neighbor }} activate
{% endfor %}
exit-address-family
!
ip prefix-list dc-fabric-in seq 10 permit 0.0.0.0/0
ip prefix-list dc-fabric-in seq 20 permit 10.0.0.0/24 le 32
{% for network in networks %}
{% if networks[network].source != ansible_hostname %}
ip prefix-list dc-fabric-in seq {{ loop.index*10 + 100 }} permit {{ network }}
{% endif %}
{% endfor %}
ip prefix-list dc-fabric-in seq 500 deny any
!
ip as-path access-list no-transit permit ^$
!
route-map loop_adv permit 10
 match interface lo

